<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{{ this.page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="author" content="Graham Licence" />
    <link rel="canonical" href="http://www.grahamlicence.co.uk/">
    {{#if production}}
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.min.css">
    {{else}}
    <link rel="stylesheet" type="text/css" href="/assets/styles/main.css">
    {{/if}}
</head>
<body class="{{ this.page.theme }}">

    <div class="content-wrapper">
        <header class="main-heading">
            <h1>Title</h1>

            <nav class="main-nav">                
                <ul>
                    <li>
                        <a href="/">Home</a>
                    </li>
                    <li>
                        <a href="/cartoons/">General cartoons</a>
                        {{#is data.class 'cartoons'}}
                        <ul>
                        {{#withSort cartoon 'data.posted'}}
                          {{#each this.pages }}
                            <li><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.title }}</a></li>
                          {{/each}}
                        {{/withSort}}
                        </ul>
                        {{/is}}
                    </li>
                    <li><a href="/bird-cartoons/">Bird cartoons</a></li>
                    <li><a href="/insomnia-cartoons/">Insomnia cartoons</a></li>
                </ul>
            </nav>
        </header>