{{>site-header}}


    <main class="main-content {{ this.page.class }}">
        <h1>{{ this.page.cartoonTitle }}</h1>
        {{#is this.page.cartoon 'true'  }}
        <img src="/assets/images/general/{{ this.page.cartoonImage }}" alt="{{ this.page.cartoonAlt }}" />
        {{/is}}
        {{> body}} 
    
        <aside class="cartoons-list">
            <ul>
                {{#if_eq this.data.group 'cartoons' }}
            {{#withSort cartoon 'data.posted'}}
              {{#each this.pages }}
                <li><a href="{{ replaceStr this.dest 'dist' '' }}">{{ this.data.cartoonTitle }}</a></li>
              {{/each}}
            {{/withSort}}
            {{else}}
            oh
                {{/if_eq}}

            {{#is this.data.group 'birdCartoon' }}
            yep
            {{else}}
            nope
                {{/is}}
            </ul>
        </aside>

    </main>
    
    {{>sidebar}}

{{>site-footer}}