{{>site-header}}


    <main class="main-content {{ this.page.class }}">
    
        <nav class="cartoons-list">
            <ul class="sub-nav">

            {{#is dirname 'dist/bird-cartoons' }} 

                {{#each pages }}

                    {{#is data.group 'birdCartoon' }} 

                        {{#is data.title 'Bird cartoons' }}
                        {{else}}
                            <li {{#if isCurrentPage}} class="active"{{/if}}>
                                <a href="{{ replaceStr this.dest 'dist' '' }}">{{ data.title }}</a>
                            </li>
                        {{/is}}

                    {{/is}}

                {{/each}}

            {{/is}}

            </ul>
        </nav>
        
        <h1>{{ this.page.cartoonTitle }}</h1>
        
        {{!-- <img src="/assets/images/{{ this.page.cartoonImage }}" alt="{{ this.page.cartoonAlt }}" /> --}}
        
        {{> body}} 

    </main>
    
    {{>sidebar}}

{{>site-footer}}